@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color:  #eef2f8;
    --text-color:  #112D4E;
    --primary-color: #3F72AF;
}
  
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
}
  
li {
    list-style: none;
}

.container{
    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 0rem 1rem;
    background-color: var(--background-color);
}

h3 {
    font-size: xx-large;
    margin: 1rem;
    margin-top: 1.5rem;
    color: var(--text-color);
}
h4{
    font-size: medium;
    font-weight: 400;
    margin-top: -1rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}
  
.input-label {
    display: block;
    font-size: large;
    font-weight: 600;
    margin-top: 2rem;
  }
  
.input {
    padding: 0.8rem;
    margin:  0.8rem 0rem 2rem 0rem;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
    background: transparent;
}
  
#show-btn {
    background: var(--text-color);
    border: none;
    color: #fff;
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
    font-size: medium;
    cursor: pointer;
    outline: #fff;
    margin: auto;
    display: block;
}
  
#result {
    font-size: large;
    margin: 3rem 0;
    color: var(--primary-color);
    font-weight: 600;
}
img{
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin: 0rem auto;
}
  

.footer{
    padding: 1rem;
    text-align: center;
    margin-top: 3rem;
}

.footer h4{
   margin-bottom: 0.2rem; 
   color: var(--text-color);
   font-weight: 400;
   font-size: 0.8rem;
}
.footer a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
   font-size: 0.8rem;
 }
 .list-non-bullet{
    list-style: none;
    padding: 0;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem ;
}
.link{
    color: var(--text-color) !important;
    font-weight: 400 !important;
}